<!--=============== ABOUT ME ===============-->
<link rel="stylesheet" href="about.component.css">
<section class="content-card about" id="yo">
  <h1>Habilidades</h1>
  <div class="about-item about-me">
      <p>
          He conformado equipos de desarrollo de aplicaciones del lado frontend y también del lado backend, además he colaborado en proyectos
          integrando ambas partes del desarrollo, por lo que consolida mis conocimientos como desarrollor fullstack.
      </p>
      <p>
          He desarrollado posiciones como desarrollador dónde se manejaba el progreso del proyecto mediante metodologías ágiles de desarrollo
          tales como scrum y kanban, utilizando herramientas como Jira y ClickUp. Cómo integrante de un equipo de desarrollo también cuento con conocimiento y manejo de controladores de
          versiones tales como svn y git.
      </p>
  </div>
  <h1>Tecnologías y aplicaciones</h1>
  <div class="col-2">
      <div class="about-item skills">
          <span class="skill">Angular</span>
          <span class="skill">React</span>
          <span class="skill">JavaScript</span>
          <span class="skill">Java</span>
          <span class="skill">Python</span>
          <span class="skill">SQL</span>
          <span class="skill">Microservicios</span>
          <span class="skill">APIs</span>
      </div>
  </div>
  <h1>Manejo de Idiomas</h1>
  <div class="col-2">
    <div class="about-item languages">
      <div class="language">
          <p>Español (Idioma Nativo)</p>
      </div>
      <div class="language">
          <p>Inglés (Nivel Intermedio, he conformado equipos dónde el idioma común fue el inglés)</p>
      </div>
    </div>
  </div>
</section>
