<link rel="stylesheet" href="projects.component.css">
<!--=============== PROJECTS ===============-->
<section class="content-card projects" id="proyectos">
  <h1>Proyectos</h1>
  <div class="col-2 project-list">
      <!-- <div class="project-tile">
          <img src="https://shots.codepen.io/nietoperq/pen/BaPJqGW-512.webp?version=1674304822"
              alt="" />
          <div class="overlay">
              <div class="project-description">
                  <h3>Project 1</h3>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Nisi aperiam voluptate accusamus velit omnis.
                  </p>
              </div>
          </div>
      </div> -->
  </div>
  <a href="https://github.com/nietoperq">see more...</a>
</section>
