<link rel="stylesheet" href="base.component.css">

  <!-- <nav id="navbar" class="navbar"><a href="#"></a></nav> -->
  <div class="container">

      <app-items></app-items>

      <!--=============== MAIN "WINDOW" ===============-->
      <div class="portfolio">

          <app-static></app-static>

          <!--=============== CONTENT SECTION ===============-->
          <div class="content">

              <app-welcome></app-welcome>

              <app-about></app-about>

              <app-projects></app-projects>

              <app-experience></app-experience>

              <!-- <app-free></app-free> -->

          </div>
      </div>
    </div>

