<link rel="stylesheet" href="experience.component.css">
<!--=============== EXPERIENCE ===============-->
<section class="content-card experience" id="experiencia">
  <h1>Experiencia</h1>
  <div class="timeline">
      <div class="timeline-items">
          <div class="timeline-item">
              <div class="timeline-date"><h4>04/2022 - Actualidad (Analista Desarrollador en Total Servicios Financieros EDPYME)</h4></div>
              <div class="timeline-content">
                  <h3>Desarrollador Fullstack</h3>
                  <p>
                    Implementación de requerimientos de frontend con
                    Angular.
                  </p>
                  <p>
                    Implementación de requerimientos en backend con Python
                    usando framework Django.
                  </p>
                  <p>
                    Atención de soluciones inmediatas de bugs a través de
                    código fuente y/o base de datos.
                  </p>
              </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-date"><h4>Actualidad (Desarrollador de Investigaciones)</h4></div>
            <div class="timeline-content">
                <h3>Desarrollador de Software</h3>
                <p>
                  Implementación de Proyectos de IA con Python usando
                  librerías como numpy, openCV, canvas, Dlib.
                </p>
                <p>
                  Procesamiento de imágenes con Java usando librería
                  ImageJ.
                </p>
            </div>
        </div>
          <div class="timeline-item">
              <div class="timeline-date"><h4>07/2021 - 04/2022 (Programador Fullstack en Viettel Perú SAC)</h4></div>
              <div class="timeline-content">
                  <h3>Desarrollador Fullstack</h3>
                  <p>
                      Desarrollar requerimientos de las webs Web MiBitel,
                      Portal Bitel, Recargas Bitel, Tienda de Regalos Bitel.
                  </p>
                  <p>
                    Implementación de requerimientos de frontend con HTML,
                    JSP, CSS, Boostrap, e incluyendo funcionalidades con
                    JQuery, Ajax y Javascript. Usando Frameworks como
                    Angular o React también en otros casos, esto dependía
                    del proyecto.
                  <p>
                    Implementación de requerimientos en backend en Java,
                    haciendo uso de Spring Framework, en PHP haciendo uso
                    de Symfony.
                  </p>
                  <p>
                    Implementación de servicios haciendo uso de SOAP,
                    REST.
                  </p>
                  <p>
                    Manejo de base de datos Oracle, uso de hibernate.
                  </p>
              </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-date"><h4>01/2021 - 03/2021 (Programador Java Freelance en Tecnología Móvil J&J)</h4></div>
            <div class="timeline-content">
                <h3>Desarrollador de Software</h3>
                <p>
                  Análisis de requerimientos.
                </p>
                <p>
                  Diseño, validación y desarrollo de base de datos SQL
                  Server alojado en Web Service Azure.
                </p>
                <p>
                  Desarrollo backend de módulos (Arquitectura MVC).
                </p>
            </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-date"><h4>08/2020 - 12/2020 (Practicante Pre-Profesional en Tecnología Móvil J&J)</h4></div>
          <div class="timeline-content">
              <h3>Desarrollador de Software</h3>
              <p>
                Análisis de requerimientos.
              </p>
              <p>
                Diseño y desarrollo de base de datos MySQL.
              </p>
              <p>
                Desarrollo backend de módulos (Arquitectura MVC).
              </p>
          </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-date"><h4>08/2019 - 12/2019 (Practicante Pre-Profesional en CRAO EIRL)</h4></div>
        <div class="timeline-content">
            <h3>Desarrollador de Software</h3>
            <p>
              Análisis de requerimientos.
            </p>
            <p>
              Diseño y desarrollo de base de datos MySQL.
            </p>
            <p>
              Desarrollo backend de módulos (Arquitectura MVC).
            </p>
        </div>
    </div>
      </div>
  </div>
</section>
